<html>
  <head>
    <title>TIPS</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.4/ui-bootstrap-tpls.min.js"></script>
    <script src="/javascripts/moment.js"></script>
    <script src="/javascripts/angular-moment.js"></script>
    <script src="/javascripts/angularApp.js"></script>
   <!-- <style> .glyphicon-thumbs-up { cursor:pointer } </style>-->
  </head>
  <body ng-app="ideasTIP">
    <nav class="navbar navbar-default pull-right" ng-controller="NavCtrl">
      <ul class="nav navbar-nav">
        <li ng-show="isLoggedIn()"><a>{{ currentUser().usuario }}</a></li>
        <li ng-show="isLoggedIn()"><a href="/#/login" ng-click="logOut()">Log Out</a></li>
        <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
        <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
      </ul>
    </nav>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <ui-view></ui-view>
      </div>
    </div>
  
  <!-- TEMPLATE POSTS   -->
    <script type="text/ng-template" id="/home.html">
      <div class="page-header">
        <h1>TIPS</h1>
      </div>

      <div ng-show="mostrarMensajePostulacionExitosa" class="alert alert-success row">
        <span>Postulacion exitosa {{ideaALaQueSePostula.titulo}}</span>
      </div>
              
      <div ng-repeat="idea in ideas">
        {{idea.titulo}}
        <span style="font-size:15px; margin-left:20px;">
          <a style="cursor: pointer;" ng-click="abrirDetalles(idea)"> Detalles </a>
        </span>
        <a ng-hide="usuario.rol == 'ALUMNO'"><span style="font-size:15px; margin-left:20px;" class="glyphicon glyphicon-trash" aria-hidden="true" ng-click="eliminarIdea(idea)"></span></a>
        <span style="font-size:15px; margin-left:20px;">
          <button ng-click="postularseA(idea,$index)" ng-show ="usuario.rol == 'ALUMNO'" class="btn btn-primary">Postularme a idea</button>
            
        </span>
      </div>

      <form ng-submit="agregarIdea()" style="margin-top:30px;" ng-show="usuario.rol == 'DOCENTE'">
        <h3>Agregar una nueva idea</h3>

        <div class="form-group">
          <input type="text"
            class="form-control"
            placeholder="titulo de idea"
            ng-model="titulo"></input>

            <br>
            <textarea name="detalleText" cols="40" rows="5"
               class="form-control"
              placeholder="detalles de la idea"
              ng-model="descripcion"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Crear Idea</button>
      </form>
      <br>
      <span style="font-size:15px; margin-left:20px;">
        <button ng-click = "verActividades()" class="btn btn-primary">Ver Actividades</button>
        <button ng-show="usuario.rol == 'DIRECTOR'" ng-click = "verTareasPendientes()" class="btn btn-primary">Ver tareas pendientes</button>
      </span>
    </script>

    <script type="text/ng-template" id='detallesModal.html'>
      <div class="modal-header">
            <h3 class="modal-title">Detalles de : {{tituloIdea}}!</h3>
        </div>
        <div class="modal-body">
            <ul>
                {{descripcionIdea}}
            </ul>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" type="button" ng-click="cerrar()">Cerrar</button>
        </div>
    </script>

    <script type="text/ng-template" id='tareasPendientesModal.html'>
      <div class="modal-header">
            <h3 class="modal-title">Tareas Pendientes</h3>
        </div>
        <div class="modal-body">
            <ul>
                <div ng-repeat="tarea in tareasPendientes">
                  <span> Autor : {{tarea.autor}} , Accion : {{tarea.descripcion}} , postulante: {{tarea.postulante}} , hora : {{tarea.fecha}} </span>
                  <button class="btn btn-warning" type="button" ng-click="aceptarTarea(tarea)">Aceptar</button>
                  <button class="btn btn-warning" type="button" ng-click="rechazarTarea(tarea)">Rechazar</button>
                </div>
            </ul>
        </div>
        <div class="modal-footer">
          <button class="btn btn-warning" type="button" ng-click="cerrar()">cerrar</button>
        </div>
    </script>

    <script type="text/ng-template" id='actividadesModal.html'>
      <div class="modal-header">
            <h3 class="modal-title">Actividades</h3>
        </div>

        <div class="modal-body">
            <div ng-repeat="actividad in actividades">
              
              <span> Autor : {{actividad.autor}} , Accion : {{actividad.accion}} , idea: {{actividad.idea.descripcion}} , hora : {{actividad.date}} </span>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" type="button" ng-click="cerrar()">Cerrar</button>
        </div>
    </script>

    <script type="text/ng-template" id="/register.html">
  <div class="page-header">
    <h1>Flapper News</h1>
  </div>

  <div ng-show="error" class="alert alert-danger row">
    <span>{{ error.message }}</span>
  </div>

  <form ng-submit="registrarUsuario()" style="margin-top:30px;">
    <h3>Registrar usuario</h3>

    <div class="form-group"> 
      <input type="text" class="form-control" placeholder="Nombre de usuario" ng-model="usuario.usuario"></input>
    </div>
    <div class="form-group">
      <input type="password" class="form-control" placeholder="Password" ng-model="usuario.password"></input>
    </div>
    <div class="form-group">
      <select ng-options="x for x in rolesPosibles" ng-model="usuario.rol"></select>
    </div>

    <button type="submit" class="btn btn-primary">Registrar</button>
  </form>
</script>
<script type="text/ng-template" id="/login.html">
  <div class="page-header">
    <h1>TIPS</h1>
  </div>

  <div ng-show="error" class="alert alert-danger row">
    <span>{{ error.message }}</span>
  </div>

  <form ng-submit="logIn()"
    style="margin-top:30px;">
    <h3>Log In</h3>

    <div class="form-group">
      <input type="text" class="form-control" placeholder="Nombre de usuario" ng-model="usuario.usuario"></input>
    </div>
    <div class="form-group">
      <input type="password" class="form-control" placeholder="Password" ng-model="usuario.password"></input>
    </div>
    <button type="submit" class="btn btn-primary">Log In</button>
  </form>
  </script>
  </body>
</html>